{% if mssgs %}
<script>
    alert('{{mssgs}}');
</script>
{% endif %}<!doctype html>
<html lang="en">
<head></head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<h1 class="p-3 mb-2 bg-success text-white text-center">iGROW Knowledge Management System</h1>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<b>
  <div>
      <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist" >
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="{% url 'Home' %}" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="sharing-tab" data-bs-toggle="tab" href="{% url 'MainSharing' %}" role="tab" aria-controls="sharing" aria-selected="true">Sharing</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="discussion-tab" data-bs-toggle="tab" href="{% url 'MainGroup' %}" role="tab" aria-controls="discussion" aria-selected="true">Group</a>
        </li>
        <li class="nav-item" role="presentation">
         <a class="nav-link active" id="friends-tab" data-bs-toggle="tab" href="{% url 'MainMember' %}" role="tab" aria-controls="friends" aria-selected="true">Member</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="workshop-tab" data-bs-toggle="tab" href="{% url 'BookWorkshop' %}" role="tab" aria-controls="workshop" aria-selected="true">Workshop</a>
         </li>
         <li class="nav-item" role="presentation">
          <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="{% url 'View' %}" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
         </li>
        </li>
      </ul>
  </div>
<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 20rem; ">
        <img src="https://img.freepik.com/free-vector/man-organic-farming-concept-illustration_52683-33820.jpg?size=626&ext=jpg&ga=GA1.2.1094209548.1601078400" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Farming</h5>
          <p class="card-text">Agriculture is a major field and act as a backbone to the existence and progress achieved by iGROW today.</p>
          <a href="{% url 'MainSharing' %}" class="card-link">Read More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="https://img.freepik.com/free-vector/group-therapy-illustration_74855-5516.jpg?size=626&ext=jpg" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Discussion</h5>
          <p class="card-text">Discussion is an activity that is necessary for all the trainees since it is helping them in communicating with other trainees.</p>
          <a href="{% url 'Group' %}" class="card-link">Read More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="https://image.freepik.com/free-vector/business-workshop-person-man-concept-illustration-design_159757-72.jpg" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Workshop</h5>
          <p class="card-text">Apart from running an agriculture-based business, iGROW also conducts agricultural workshops for anyone interested in running agriculture.</p>
          <a href="{% url 'Workshop' %}" class="card-link">Read More</a>
        </div>
      </div>
    </div>
</div>

<br/><br/>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="https://image.freepik.com/free-vector/woman-posting-photos-social-media-man-likes-them_52683-23436.jpg" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Posting</h5>
          <p class="card-text">iGROW trainees can share about their crop development with their friends so the others can get benefit from it.</p>
          <a href="{% url 'MainSharing' %}" class="card-link">Read More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="https://image.freepik.com/free-vector/business-concept-sales-chart-flat-illustration_9041-213.jpg" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sales</h5>
          <p class="card-text">While making a posting, trainees can sell their crops or crop seeds. This is helping them in business.</p>
          <a href="{% url 'MainSharing' %}" class="card-link">Read More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="https://img.freepik.com/free-vector/people-following-each-other-concept-illustration_52683-23637.jpg?size=626&ext=jpg" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Logout</h5>
          <p class="card-text">iGROW trainees can find farmers near them or their trainees friends because this system provides those features.</p>
          <a href="{% url 'Logout' %}" class="card-link">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>         
<hr/>
</html>















