{% if mssg %}
<script>
    alert('{{mssg}}');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>


  
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

   <h1 class="p-3 mb-2 bg-success text-white text-center">iGROW Knowledge Management System</h1>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
 </head>
 
   

   <body>
   <p class="h3 text-center align-content: center;">Templates Registration Form</p>
   <hr/>
   <br/>
<form method="POST" class="container text-center" action="{% url 'Reg' %}">
  {% csrf_token %}

  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="col-12">
        <label for="inputImage" class="form-label">Profile Photo : </label>
        <input type="file" class="form-control" id="inputMedia" name="Photo" placeholder="Enter Media">
      </div>
      
        <!-- <div class="col-12">
          <label for="inputImage" class="form-label">Resume : </label>
          <input type="file" class="form-control" id="inputMedia" name="resume" placeholder="Enter Media">
        </div> -->
    </div>

    <!-- Email and Password -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail" class="container text-left" >Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword" class="container text-left" >Password</label>
        <input type="password" class="form-control" id="Password" placeholder="Enter password" name="password" required>
        <small id="passwordHelpInline" class="text-muted">Must be 8-20 characters long.</small>
      </div>

    <div class="form-group col-md-6">
        <label for="inputUserLevel" class="container text-left" >User Level</label>
        <select name="userlevel" id="userlevel" placeholder="Enter user level (1 for Admin/2 for User)" required>
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
        <!-- <input type="text" class="form-control" id="userlevel" placeholder="Enter user level (1 for User/2 for Admin)" name="UserLevel" required>
      </div> -->
    </div>

    <!-- Username and name -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputUsername" class="container text-left" >Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
    </div>
    <div class="form-group col-md-6">
        <label for="inputName" class="container text-left" >Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
      </div>
      <!-- <div class="form-group col-md-6">
        <label for="inputRanking" class="container text-left" >Ranking</label>
        <input type="text" class="form-control" id="ranking" placeholder="Enter ranking" name="ranking">
      </div> -->
  </div>

  <!-- DOB and age -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputDOB" class="container text-left">Date Of Birth</label>
      <input type="text" class="form-control" id="dateofbirth" placeholder="Enter date of birth" name="dob" >
    </div>
    <div class="form-group col-md-6">
      <label for="inputAge" class="container text-left" >Age</label>
      <input type="text" class="form-control" id="age" placeholder="Enter age" name="age">
    </div>
  </div>

  <!-- Gender and marital status -->
<legend class="col-form-label col-sm-2 pt-0 text-left">Gender</legend>
      <div class="custom-control custom-radio text-left">
        <input type="radio" id="customRadio1" name="gender" class="custom-control-input" value="M">
        <label class="custom-control-label" for="customRadio1">Male</label>
      </div>
      <div class="custom-control custom-radio text-left">
        <input type="radio" id="customRadio2" name="gender" class="custom-control-input" value="F">
        <label class="custom-control-label" for="customRadio2">Female</label>
      </div>
    <br />
    <div class="form-row">
    <div class="form-group col-md-4">
        <label for="inputState"class="container text-left" name="MaritalStatus" >Marital Status</label>
        <select id="maritalstatus" class="form-control" name="maritalstatus">
          <option selected>Enter marital status</option>
            <option value="Married" name="maritalstatus" >Married</option> 
            <option value="Unmarried" name="maritalstatus" >Unmarried</option>
            <option value="Divorced" name="maritalstatus" >Divorced</option>
        </select>
      </div>
    </div>

    <!-- District and state -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputDistrict" class="container text-left">District</label>
        <input type="text" class="form-control" id="district" placeholder="Enter district" name="district" >
      </div>
      <div class="form-group col-md-6">
        <label for="inputState" class="container text-left" >State</label>
        <input type="text" class="form-control" id="state" placeholder="Enter state" name="state" required>
      </div>
    </div>

    <!-- Occupation and about -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputOccupation" class="container text-left">Occupation</label>
        <input type="text" class="form-control" id="occupation" placeholder="Enter occupation" name="occupation" >
      </div>
      <div class="form-group col-md-6">
        <label for="inputAbout" class="container text-left" >About</label>
        <input type="text" class="form-control" id="about" placeholder="Enter about" name="about">
      </div>
    </div>
    <!-- Submit -->
    <!-- <button type="submit" class="btn btn-success" value="Registration">Register</button> -->
    <button type="submit" class="btn btn-success" value="signUp">Register</button>
<br/><br/>
{% if messages %}
{% for msg in messages %}
<b>{{msg}}</b>
{% endfor %}
{% endif %}
<hr />
<em>If you already a member <a href="{% url 'Loginpage' %}" >Login</a></em>
<br/><br/><br/><br/>

  </form>
</body>

</html>

